{% extends "index.html" %}    
    
    {% block content %}
        <!--  page-wrapper -->
        <div id="page-wrapper">
            
            <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h4 class="page-header">
                        <ol class="breadcrumb">
                            <li><a href="/TestRepoPro/staging/"><b>Staging</b></a></li>
                            <li><a href="/TestRepoPro/usecase_stag_stats/?pid={{ pid }}&project_name={{ project_name}}"><b>{{ project_name }}</b></a></li>
                            <li><b>{{ usecase_name }}</b></li>
                        </ol>                        
                    </h4>                                        
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>TestCases Stats</b>                            
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>TestCaseID</th>
                                            <th>TestCase</th>
                                            <th>Status</th>
                                            <th>Exec Time</th>
                                            <th>Message</th>
                                            <th>BugID</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        {% for each_data in tot_tc_stats %}
                                            <tr class="odd gradeX">
                                                <td>{{ each_data.tc_id }}</td>
                                                <td>{{ each_data.tc_name }}</td>
                                                <td>{{ each_data.status }}</td>
                                                <td>{{ each_data.exec_time }}</td>
                                                <td>{{ each_data.message }}</td>
                                                <td>{{ each_data.bug_id }}</td>
                                            </tr>                                          
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>            
                        
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

    <!-- Page-Level Plugin Scripts-->
    {% block page-level-scripts %}
        <script src="/static/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(
                function () 
                {
                $('#dataTables-example').dataTable();
                $('#staging').addClass("selected");
                }
                );

        </script>
    {% endblock %}